* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ribbon {
    width: 100%;
    background-color: #0A1172 → #008080;
    color: white;
    max-height: 3vh;
    /* color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@font-face {
    font-family: 'ribbon';
    src: url('/fonts/TechnicalDrawing.ttf');
}

.ribbon span {
    font-size: 1.5vw;
    font-family: 'ribbon', sans-serif;
    color: #E0FFFF;
    cursor: pointer;
    margin: min(2em,2%);
    margin: 20px 100px;
    text-decoration: none;
}

.ribbon span:hover {
    text-decoration: underline;
}
